#hr1{
    width: 100%;
    background-color: rgb(100, 168, 224);
  }

h1{
    font-family:'Merriweather', serif;
    font-size: 42px;
    font-weight: 550;
    color: rgb(61, 59, 59);
    line-height: 50px;
    width: 680px;
    margin-left: 340px;
    margin-right: 290px;
    margin-bottom: 0px;
}
  
h2{
    font-family:'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(48, 46, 46);
    line-height: 20px;
    width: 680px;
    margin-left: 340px;
    margin-right: 290px;
    margin-top: 5px;
}
  
#image1{
    width: 850px;
    height: 500px;
    padding: 10px 50px 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 0px;
}
  
#sub1{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-right: 180px;
    padding-right: 5px;
    
}
  
#sub2{
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-right: 160px;
    margin-top: 0px;
}
  
#hr2{
    width: 90%;
    background-color: rgb(100, 168, 224);
}

.sect1{
	margin-left: 350px;
  margin-right: 350px;
}

#video{
	display: block;
	margin: auto;
	width: 630px;
	height:350px;
}


#firstp{
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#blackhole{
    width: 900px;
    height: 450px;
    padding: 10px 50px 20px;
    margin-left: 150px;
    margin-right: 150px;
}