.page-design{
  text-align: justify;
}

h1{
  font-family:'Merriweather', serif;
  font-size: 41px;
  font-weight: 550;
  color: rgb(61, 59, 59);
  line-height: 50px;
  width: 630px;
  padding-right: 350px;
  padding-left: 350px;
  padding-top: 50px;
  border-top: 2px solid rgb(51, 108, 155);
  margin-bottom: 0px;
}

h2{
  font-family:'Noto Sans', sans-serif;
  font-size: 17px;
  font-weight: 550;
  color: rgb(26, 25, 25);
  line-height: 20px;
  width: 600px;
  padding-right: 350px;
  padding-left: 350px;
  margin-top: 5px;
}

#image1{
  width: 850px;
  height: 500px;
  padding: 10px 50px 20px;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 0px;
}

#sub1{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px 50px 5px;
}

#sub2{
  font-size: 11px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 50px 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 5px;
}

.sect1{
  margin-left: 350px;
  margin-right: 370px;
  padding-top: 50px;
  padding-bottom: 15px;
}

.sect2{
  font-family:'Tajawal', sans-serif;
  font-size: 18px;
  margin-left: 350px;
  margin-right: 370px;
}

p{
  margin-bottom: 35px;
}

.italic{
  font-style: italic;
}

#aut{
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  font-weight: bold
}

#link1{
  text-decoration: none;
}

#author{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(58, 121, 173);
  font-size: 19px;
  font-weight: bold;
}

#date{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: black;
  font-weight: 600;
}

#image2{
  width: 610px;
  height: 300px;
  margin-left: 310px;
  margin-right: 330px;
  margin-bottom: -5px;
  padding-bottom: 0px;
}

#sub3{
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 310px;
  margin-right: 330px;
  margin-bottom: 0px;
}

#sub4{
  font-size: 11px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
  margin-left: 310px;
  margin-right: 300px;
  margin-bottom: 0px;
  line-height: 0px;
}

.sect3{
  font-family:'Tajawal', sans-serif;
  font-size: 18px;
  font-weight: 550;
  margin-left: 350px;
  margin-right: 370px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.footer{
  margin-left: 350px;
  margin-right: 370px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
}

#mail{
  font-family:'Martel', serif;
  font-size: 17px;
  font-weight: 600;
  margin-left: 350px;
  margin-right: 370px;
}

#mailcolor{
  color:rgb(55, 121, 175);
  text-decoration-color:rgb(55, 121, 175);
}

h3{
  color:rgb(51, 108, 155);
  font-size: small;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.foot{
  font-size: 12px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.pf1{
  color:rgb(51, 108, 155);
}

.pf2{
  color:rgb(51, 108, 155);
}